# Asset OWNER's hex Ed25519 key.
KLV_PRIVATE_KEY=

# Asset id.
KLV_KDA_ID=

# New logo URL (https or ipfs URI).
KLV_KDA_LOGO=https://example.com/new-logo.png

# JSON map of new URIs (replaces previous set on-chain).
KLV_KDA_URIS={"website":"https://example.com","twitter":"https://twitter.com/example"}

# Network. Default testnet.
KLV_NETWORK=testnet
